@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url(../css/padrao.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Playfair+Display:wght@700&display=swap');

a{
    text-decoration: none;
}  
             
*{
    font-family: 'Montserrat', sans-serif; 
}

p{font-family: 'Montserrat', sans-serif;}
h1{font-family: 'Montserrat', sans-serif;}

 /* padrão de computador*/
@media (max-width: 4000px) {   

}
 /* padrão de tablet*/
@media (max-width: 768px) {

}
 /*padrão de celular*/
@media (max-width: 450px) {
    /*MENU*/
    .fixo{
        height: 50px;
        position: fixed;
        z-index: 999;
        bottom: 0px;
        width: 100%;
        color: white;
    }
    .fixo img{
        padding-top: 4px;
    }

    /*CABEÇALHO*/
    header img{
        margin-top: 5px;
        margin-left: 5px;
    }

    header .logo{
        border-radius: 50%;
    }

    header .whatsapp img{
        margin-top: 12px;
        margin-left: 50px;
    }
    header h1{
        margin-top: 25px;
    }

    /*DESTAQUES*/
    .destaques img{
        border-radius: 50%;
    }
    h1{
        font-size: 22px;
        margin-bottom: 10px;
    }

    /*CARROCEL*/
    .slider{
        width: 100%;
        overflow: hidden;
        height: 200px;
        padding: 10px 0px;
    }

    .slider_principal{
        display: flex;
        width: 300%;
    }

    .slidee{
        width: 50%;
        transition: margin-left 2s;
    }

    .slidee img{
        width: 100;
        height: 200px;
    }

    .slider input{
        display: none;
    }

    .quadradinhos{
        text-align: center;
        margin-top: -20px;
    }

    .quadradinhos label{
        margin-left: 5%;
        margin-right: 5%;
    }

    .quadradinhos img{
        width: 3%;
    }

    #bola1:checked ~.primeiro{
        margin-left: 0;
    }

    #bola2:checked ~.primeiro{
        margin-left: -66.66%;
    }
    #bola3:checked ~.primeiro{
        margin-left: -100%;
    }

    /*GASTRONOMIA*/
    .gastronomia{
        margin-top: 18px;
    }

    .gastronomia h1{
        font-size: 18px;
        margin-left: 8px;
    }

    .gastronomia h2{
        font-size: 12px;
        margin-top: 10px;
    }

    .gastronomia .pratos{
        padding-top: 8px;
        padding-bottom: 10px;
        border-radius: 12%;
        border: solid 8px #f2e8d5;
        margin-top: -10px;
    }

    .gastronomia img{
        border-radius: 12%;
    }

    .gastronomia p{
        margin-top: 5px;
        font-size: 16px;
    }

    .gastronomia button{
        border: none;
        margin-top: 10px;
        padding: 4px 10px 4px 10px;
        font-size: 12px;
        border-radius: 20px ;
    }

    /*AVALICÕES*/
    .clientes{
        margin-left: 8px;
        margin-right: 15px;
    }

    .clientes h1{
        font-size: 18px;
        margin-left: 8px;
    }

    .clientes h3{
        font-size: 14px;
    }
    .stars{
        color: #ffb400;      /* cor dourada das estrelas */
        font-size: 18px;     /* tamanho das estrelas */
        /*margin-top: 8px;     /* espaço entre a foto e as estrelas */
        letter-spacing: 3px; /* espaçamento entre as estrelas */
    }

    .clientes .avalia{
        margin-top: 15px;
        font-size: 14px;
        margin-left: 8px;
        text-align: justify;
    }

    .clientes hr{
        border: solid #f2e8d5;
    }

    /*RODAPÉ*/
    footer h1{
        font-size: 12px;
    }

    footer .endereco h1{
        margin-top: 10px;
    }

    footer img{
        width: 5%;
    }
    footer .telefone h1{
        margin-top: 6px;
    }

    footer{
        padding-bottom: 60px;
        margin-top: 15px;
    }

    /*GATRONOMIA.HMTL*/
    .horta{
        margin-top: 10px;
    }
    .horta img{
        border-radius: 25px;
    }

    .horta p{
        text-align: justify;
        font-size: 14px;
        margin-right: 10px;
    }

    .horta .foto1{
        padding-left: 10px;
        padding-top: 15px;
    }

    .horta .div1{
        margin-top: 13px;
    }

    .horta h1{
        font-size: 18px;
    }

    .artesanal{
        margin-top: 10px;
    }
    .artesanal img{
        border-radius: 25px;
    }

    .artesanal p{
        text-align: justify;
        font-size: 14px;
        margin-right: 10px;
    }

    .artesanal .foto1{
        padding-left: 10px;
        padding-top: 15px;
    }

    .artesanal .div1{
        margin-top: 18px;
        margin-left: 10px;
    }

    .artesanal h1{
        font-size: 18px;
    }

    .tradicao{
        margin-top: 10px;
    }
    .tradicao img{
        border-radius: 25px;
    }

    .tradicao p{
        text-align: justify;
        font-size: 14px;
        margin-right: 10px;
    }

    .tradicao .foto1{
        padding-left: 10px;
        padding-top: 15px;
    }

    .tradicao .div1{
        margin-top: 22px;
    }

    .tradicao h1{
        font-size: 18px;
    }
}